@import "common/foundation/mixins";

$max-width: 600px;



.neonText {
  color: #fff;
  text-align:center;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h1 {
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;     
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}









.display-search-banner {
  #main-outlet {
    padding-top: 0;
  }
}

.search-banner {
  background-image: var(--custom-bg);
  border-radius: 15px;

  @if $tile-background_image == "true" {
    background-size: auto;
  } @else {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.custom-search-banner-wrap {
  box-sizing: border-box;
  position: relative;
  padding: 2.5em 0 3em;
  margin: 1em auto;
  
  @include breakpoint(tablet) {
    padding: 1em 8px 1.25em;
    margin-top: 0.5em;
  }

  > div {
    margin: 0 auto;
    max-width: $max-width;
  }

  .search-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .browser-search-tip {
      display: none;
    }
    input[type="text"] {
      margin: 0;
      width: 100%;
      padding-right: 4em;
    }
  }

  .search-input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    .searching {
      // spinner
      top: 0.4em;
      right: 2.25em;
    }
  }

  h1 {
    font-size: var(--font-up-6);
    line-height: $line-height-medium;
    @include breakpoint(tablet) {
      font-size: var(--font-up-4);
    }
  }

  h1,
  p {
    text-align: center;
  }

  .search-icon {
    position: absolute;
    z-index: 2;
    order: 2;
    right: 0;
    background: transparent;
    .d-icon {
      margin: 0;
    }
    .discourse-no-touch & {
      &:hover {
        background: transparent;
        .d-icon {
          color: var(--primary-high);
        }
      }
    }
  }

  .search-input .btn.search-context {
    margin: 0;
  }

  .results {
    box-sizing: border-box;
    background: var(--secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 2.4em;
    right: 0;
    padding: 0.5em;
    @include breakpoint(mobile-extra-large) {
      width: 100%;
    }
    ul,
    ol {
      list-style-type: none;
      margin: 0;
    }
  }

  .searching a.show-advanced-search {
    display: none;
  }

  .search-link .d-icon {
    color: var(--primary-medium);
  }

  span.keyword {
    color: var(--primary);
  }
}

// these are add-on styles controlled by settings
@import "special-styles";
